body {
    background-image: url(https://phonoteka.org/uploads/posts/2021-04/1618685113_10-phonoteka_org-p-igrovoi-fon-dlya-saita-10.jpg);
}
.katalog {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 300px;
    width: 960px;
    left: 480px;
    top: 10px;
}